@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Bitter&family=Climate+Crisis&family=Comfortaa&family=Cormorant+Garamond&family=Courier+Prime&family=Goldman&family=Modak&family=Montserrat&family=Oswald&family=Pinyon+Script&family=Playfair+Display&family=Roboto+Mono&family=Sacramento&family=Uncial+Antiqua&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
  background-color: #E6D6FF;
}

main {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow: visible;

  background-image: url("../img/indesign.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.consignectn{
  position: absolute;
  right:6%;
  top: 12%;
  width: 312px;
  height: 168px;
  background-image: url("../img/circulaire.png");
  background-position: center;
  background-repeat: no-repeat;
}

.croix{
  position: absolute;
  right:20px;
  top:20px;
  width:50px;
  height: 20px;
  background-image: url("../img/croix.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.container{
  position: absolute;
  width: 100%;
  height: auto;
  top: 18%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
}

.button{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 15px;
  text-decoration: none;
  overflow: visible;

  color: #6100FF;
  background-color: white;
  text-align: center;

  width: auto;
  height: auto;
  border-radius: 30px;
  border: 2px solid #6100FF;
  box-shadow: 3px 3px #6100FF;
  padding: 3px 30px 3px 30px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #ebdeff;
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px;
}

#circulaire{
  color: white;
  background-color: #6100FF;
}


#p5{
 margin-top: 300px;
} 

#input{
  position: absolute;
  margin-top: 300px;
  width: 600px;
  height:420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#curseurs{
  display: none;
  color: #6100FF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.curseur{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #6100FF;
  border-radius: 0.5rem;
  height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: white;
  border: 2px solid #6100FF;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid #6100FF;
 outline: 3px solid #6100FF;
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #6100FF;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: white;
  border: 2px solid #6100FF;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid #6100FF;
 outline: 3px solid #6100FF;
 outline-offset: 0.125rem; 
}

#champ{
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    width: 200px;
    height: 30px;
    color: #6100FF;
    margin-top: 50px;
}

@media screen and (max-width:900px){

  main{
    display: none;
  }

  h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 50px;
  }

  .msg_mobile{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin: 100px;
  }

}
