@font-face {
    font-family: "Romie";
    src: url("../fonts/RomieTrial-Italic.otf");
  }

:root {
    --marge: 80px;
  }
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
  }
  
  main {
    width: 100vw;
    max-width: 100%;
    overflow: visible;
    margin-left: var(--marge);
    margin-top: var(--marge);
    margin-right: var(--marge);
  }
  
  h1 {
    display: inline;
    font-family: "Modak", sans-serif;
    font-size: 150px;
    margin: 0;
    vertical-align: top;
  }

 h2{
    font-size: 28px;
    margin: 0;
 }

 .modak{
    font-family: "Modak", sans-serif;
 }

 .mondwest{
    font-family: "PP Mondwest", serif;
 }

 .romie{
    font-size: 25px;
    font-family: "Romie", serif;
 }

 p{
    margin-top: 60px;
    width: 50%;
 }

 .gras{
    font-weight: 700;
 }

 
@media (hover: none) { 
   h2{
    font-size:35px;
   }

   .romie{
    font-size:32px;
   }
   p{
    font-size: 25px;
   }
  }